<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>CostuaryMenu</servlet-name>
    <servlet-class>com.servlet.testing.CostuaryMenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertExpense</servlet-name>
    <servlet-class>com.servlet.testing.InsertExpenseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.servlet.testing.UserLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServerHealthInfo</servlet-name>
    <servlet-class>com.servlet.testing.ServerHealthInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionTrack</servlet-name>
    <servlet-class>com.servlet.testing.SessionTrack</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SelectMenu</servlet-name>
    <servlet-class>com.servlet.testing.SelectMenuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReportSelectMenu</servlet-name>
    <servlet-class>com.servlet.testing.ReportSelectMenuServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CostuaryMenu</servlet-name>
    <url-pattern>/CostuaryMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertExpense</servlet-name>
    <url-pattern>/InsertExpense</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServerHealthInfo</servlet-name>
    <url-pattern>/ServerHealthInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionTrack</servlet-name>
    <url-pattern>/SessionTrack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectMenu</servlet-name>
    <url-pattern>/SelectMenu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReportSelectMenu</servlet-name>
    <url-pattern>/ReportSelectMenu</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <display-name>licai</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>